<?php
header('Access-Control-Allow-Methods: *');
header('Access-Control-Allow-Credentials: true');
header('Access-Control-Allow-Origin: *');
header('Access-Control-Allow-Headers: Content-Type, Content-Language, Authorization');
header('Access-Control-Expose-Headers: Authorization');


$user = 'u654721528_dream';

$password = 'REPLACE_ME';

$server = 'localhost';

$database = 'u654721528_dream';
 
$year= $_REQUEST['y'];


  $db = new PDO("mysql:host=$server;dbname=$database", "$user", "$password");
try {

} catch ( PDOException $e ){
     print $e->getMessage();
}


# ACTION
$keys = isset($_REQUEST['keys'])?$_REQUEST['keys']:array();
if (!is_array($keys)){
	$keys = array($keys);
}
$keys = array_filter($keys);



# RESULT
$unavailable = array();

$sql = "SELECT * FROM holidays where year = $year  ";

	$stmt = $db->query($sql);


        while ($row = $stmt->fetch()) {

     	$unavailable[] = $row;;
}


echo(json_encode($unavailable));
 ?>
